<h3>add new</h3>

<input type="text" id="title" />
<input type="text" id="content" />
<input type="text" id="video" />
<button type="button" id="addnew" class="" onclick="addNewArticle();"  data-dismiss="alert" aria-label="Close">
  Add new
</button>



