<div class="col-sm-4 blog-sidebar ">
  <div  class="row">
    <div class="col-sm-12">
      <div class="sidebar-module widget">
        <h4 class="add-new-article">Recent Posts <%= link_to  'Add new', '/article'%></h4>
        <ul class="list-unstyled">
          <% articles.each do |article| %>
              <li><a href="#"><%= article.title %></a></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

</div><!-- /.blog-sidebar -->