<div class="col-sm-4 blog-sidebar ">
  <div  class="row">
    <div class="col-sm-12">
      <div class="sidebar-module widget">
        <h4 class="add-new-article">Recent Posts <%= link_to  'Add new', articles_url %></h4>
        <ul class="list-unstyled">
          <% @articles.each do |article| %>
              <li id="articleLi<%= article.id %>">
                <%= link_to article.title, articles_path + '/' + article.id.to_s %>
              </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

</div><!-- /.blog-sidebar -->