<div class="row ">
  <!--<div id="divLeft">-->
  <%= render 'home/templates/left', articles: @articles %>
  <!--</div>-->

  <%= render 'home/templates/right', articles: @articles %>
</div><!-- /.row -->
