<div class="container">
  <div class="row ">
    <div class="col-sm-7 offset-sm-2 widget">
      <div class="headline">
        <h3>Add new</h3>
      </div>
      <%= render 'article/templates/add_new' %>
    </div>
  </div>
</div>