<% if errors.any? %>
    <div id="error_explanation">
      <h4 class="error-message-header"><%= pluralize(errors.count, "error") %> exists from being saved:</h4>

      <ul class="error-message">
        <% errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
      </ul>
    </div>
<% end %>